* {
	font-family: 'Inter', sans-serif;
	margin: 0;	
	width: auto;
}

/* header  */
header {
	display: flex;
	justify-content: space-between;
	padding: 37px 66px;
	border: 2px solid #618dc7;

}

.links__navegation {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	margin: 0px;	
}

.links__navegation li { 
	margin-right: 46px;
}

.links__navegation:nth-child(4) { 
	margin-right: 23px;
}

.links__navegation:nth-child(5) { 
	margin-right: 23px;
}



/* Barra de pesquisa  */
.pesquisa {
 display: flex;
 align-items: center;
 flex-flow: column;
 padding-top: 62px;
}

.pesquisa__title {	
	margin-bottom: 53px;
}

.pesquisa__bar {
	width: 780px;
	height: 48px;
	border-radius: 50px;
	background: url("resources/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 740px ;
	margin-bottom: 122px;
}




/* Posts  */
.posts__list {
	display: flex;
	justify-content: space-around;
	flex-direction: column;	
	align-items: center;
}

.post {
	display: flex;
	width: 1215px;
	height: 162px;
	margin-bottom: 85px;
}

.post__img {
	width: 247px;
	margin-right: 37px;
}

.post__text {
	width: 931px;
	border: 2px solid #A6BACF;
	padding: 18px;	
}

.post__title {
	margin: 0;
	font-size: 28px;
	margin-bottom: 19px;
}

.post__text__preview {
	font-size: 18px;
	margin-bottom: 19px;
}

.post__text__details {
	display: flex;	
	font-size: 14px;
}

.post__text__details div {
	display: flex;
	margin-right: 38px;
}

.post__text__details__icon {
	margin-right: 5px;
}


.pesquisa, .posts__list {
	background: #EEF1F4;
}

/*footer*/
footer {
	display: flex;	
	justify-content: center;
	height: 430px;
	font-size: 17px;
}

.footer__container {
	width: 1172px;
	height: 280px;
	padding: 94px 56px 48px 56px;
	display: flex;
	justify-content: space-between;

}

.infos {
	width: 375px;
	height: 171px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.infos__text {
	font-size: 17px;
}
.infos_icons {

}

.navigation {
	width: 274px;
	height: 176px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.navigation ul{
	display: flex;
	height: 130px;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
	list-style: none;
}

.navigation ul li::marker {
	content: url("../resources/icon_marker.svg");
}

.navigation a {
	text-decoration: none;
}

.contacts {
	width: 274px;
	height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contacts__rua__email {
	display: flex;	
}

.contacts__rua__email p {
	margin-left: 10px;
}

.contacts__email__input {
	background-color: #EEF1F4;
	padding: 20px 36px 20px 13px;
	border: none;
}

.contacts__email__button {
	background-color: #486284;
	width: 173px;
	padding: 21px 10px;
	color: white;
}


.infos__title, .navigation__title, .contacts__title {
	font-size: 25px;
}