* {
	font-family: 'Inter', sans-serif;
	margin: 0;	
	width: auto;
}

/* header  */
header {
    background-color: #FFCB05; /* Amarelo Pokémon */
    padding: 10px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidade */
}

.logo h1 {
    color: #3D7DCA; /* Azul Pokémon */
    text-align: center;
    margin: 0;
}

.links-navegation {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.links-navegation li {
    margin-right: 46px;
    position: relative;
}

.links-navegation li:last-child {
    margin-right: 0; /* Remove a margem do último item */
}

.links-navegation li a {
    text-decoration: none;
    color: #D2232A; /* Vermelho Pokémon */
    transition: color 0.3s;
}

.links-navegation li a:hover {
    color: #3D7DCA; /* Mudar para azul quando o mouse passar por cima */
}

.links-navegation li:nth-child(4),
.links-navegation li:nth-child(5) {
    margin-right: 23px;
}

/* Estilo para o separador */
.links-navegation li:nth-child(5):before {
    content: "|";
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    color: #D2232A; /* Vermelho Pokémon */
}

/* Botão de Login */
button {
    background-color: #D2232A; /* Vermelho Pokémon */
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3D7DCA; /* Azul Pokémon ao passar o mouse */
}



/* Barra de pesquisa  */
.pesquisa {
 display: flex;
 align-items: center;
 flex-flow: column;
 padding-top: 62px;
}

.pesquisa__title {	
	margin-bottom: 53px;
}

.pesquisa__bar {
	width: 780px;
	height: 48px;
	border-radius: 50px;
	background: url("../artigos/resources/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 740px ;
	margin-bottom: 122px;
}



/* Posts  */
.img__gallery {
    align-items: center;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 40vw);
    grid-gap: 15px;
}

.img {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.post__img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}


/*footer*/
footer {
	display: flex;	
	justify-content: center;
	height: 430px;
	font-size: 17px;
}

.footer__container {
	width: 1172px;
	height: 280px;
	padding: 94px 56px 48px 56px;
	display: flex;
	justify-content: space-between;

}

.infos {
	width: 375px;
	height: 171px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.infos__text {
	font-size: 17px;
}
.infos_icons {

}

.navigation {
	width: 274px;
	height: 176px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.navigation ul{
	display: flex;
	height: 130px;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
	list-style: none;
}

.navigation ul li::marker {
	content: url("../resources/img/icon_marker.svg");
}

.navigation a {
	text-decoration: none;
}

.contacts {
	width: 274px;
	height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contacts__rua__email {
	display: flex;	
}

.contacts__rua__email p {
	margin-left: 10px;
}

.contacts__email__input {
	background-color: #EEF1F4;
	padding: 20px 36px 20px 13px;
	border: none;
}

.contacts__email__button {
	background-color: #486284;
	width: 173px;
	padding: 21px 10px;
	color: white;
}


.infos__title, .navigation__title, .contacts__title {
	font-size: 25px;
}